In [291]:
#Excersie1
print('Hello, Python!.')

Hello, Python!.

In [289]:
#Excercise2
a = 5
b = 3
sum = a + b
difference = a - b
product = a * b
quotient = a / b
print('Sum:', sum)
print('Difference:', difference)
print('Product:', product)
print('Quotient:', quotient)

Sum: 8
Difference: 2
Product: 15
Quotient: 1.6666666666666667

In [215]:
#Excercise3
name = "Aditi"
print(f'Hello, {name}!')

Hello, Aditi!

In [287]:
#Excercise4
universities = ['ESADE','UAB','UIB','UOC','IE','MIT']
print("Universities:", universities)
print(universities[0] , universities[5])

Universities: ['ESADE', 'UAB', 'UIB', 'UOC', 'IE', 'MIT']
ESADE MIT

In [285]:
#Excercise5
students = {
    "Name": "Piyush",
    "Age" : 26,
    "Grade" :  "B"
}
for key, value in students.items():
    print(f"{key}: {value}")

Name: Piyush
Age: 26
Grade: B

In [223]:
#Excercise6
coordinates = (9,2)
print("Coordinates:",coordinates)
x = coordinates[0]
y = coordinates[1]
print("X coordinate:", x)
print("Y coordinate:", y)

Coordinates: (9, 2)
X coordinate: 9
Y coordinate: 2

In [225]:
#Excercise7
colors = {'red','green','blue'}
print(colors)
colors.add('black')
print(colors)
colors.add('black')
print(colors)
colors.remove('blue')
print(colors)
light_colors = {'white','yellow','blue'}
merged_set = colors.union(light_colors)
print(merged_set)

{'red', 'blue', 'green'}
{'red', 'blue', 'green', 'black'}
{'red', 'blue', 'green', 'black'}
{'red', 'green', 'black'}
{'yellow', 'green', 'white', 'red', 'blue', 'black'}

In [227]:
#Excercise8
Number = float(input("Number: "))
if Number > 0:
    print("Number is positive.")
elif Number < 0:
    print("Number is negative.")
else:
    print("Number is zero.")

Number:  3.5

Number is positive.

In [243]:
#Excercise9
Numbers = [1,2,3,4,5]
for Number in Numbers:
    print(Number)

1
2
3
4
5

In [231]:
#Excercise10
Number = 1
while Number <= 5:
    print(Number)
    Number += 1

1
2
3
4
5

In [235]:
#Excercise11
grade = input("Enter grade: (A,B,C,D,E or F) ")
match grade:
   case "A":
    print("Excellent!")
   case "B":
    print("Good job!")
   case "C":
    print("Fair.")
   case "D":
    print("Needs improvement.")
   case "F":
    print("Failing.")
   case _:
    print("Invalid grade.")

Enter grade: (A,B,C,D,E or F)  C

Fair.

In [239]:
#Excercise12
def greet(name):
    print(f"Hello, {name}!")
greet("Aditi")

Hello, Aditi!

In [263]:
#Excercise13
def sqaure(number):
    return number * number

print("Sqaure of 2:", sqaure(2))
print("Sqaure of 9:", sqaure(9))

Sqaure of 2: 4
Sqaure of 9: 81

In [261]:
#Excercise14
def multiply(a,b=1):
    return a * b
    
print("a=5, b=2 = ", multiply(5,2))
print("a=7, b=1 = ", multiply(7))

a=5, b=2 =  10
a=7, b=1 =  7

In [267]:
#Excercise15
numbers = [1,2,3,4,5,6,7,8,9,10]
print("Numbers: ", numbers)
squares = [number ** 2 for number in numbers]
print("Squares: ", squares)

Numbers:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Squares:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [303]:
#Excercise16
students_grades = {
    "Aditi": [82, 92, 72],
    "Matt": [77, 98, 83],
    "John": [70, 81, 87],
    
}

def average_grades(students_grades):
    for student, grades in students_grades.items():
        total = 0 
        for grade in grades: 
            total += grade  
        average_grade = total / len(grades) 
        print(f"{student}'s Average grade: {average_grade}") 

average_grades(students_grades)

Aditi's Average grade: 82.0
Matt's Average grade: 86.0
John's Average grade: 79.33333333333333

In [293]:
#Excercise17
def calculate(number1, number2, operator):
    if operator == '+':
     return number1 + number2
    elif operator == '-':
     return number1 - number2
    elif operator == '*':
     return number1 * number2
    elif operator == '/':
     return number1/number2

    else :
     return "Invalid operator"

number1 = float(input("Number 1: "))
number2 = float(input("Number 2: "))
operator = input("Operator: (+,-,*,/): ")
result = calculate(number1, number2, operator)
print("Result:", result)

Number 1:  20
Number 2:  4.9
Operator: (+,-,*,/):  *

Result: 98.0